*{
    margin: 0;
}
body{
    margin: 0;
    background-image: url(Image/top-banner.png) ;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h4{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
    color: azure;
}
.orange-color{
    color: #e919ab;
}
.flexible-contaner{
    display: flex;
    margin-bottom: 100px;
}
.helf-width{
    margin: 30px;
    width: 50%;
    padding: 1%;
}

.helf-width img{
    width: 80%;
}

.button{
    margin-top: 20px;
}
.link-button{
    background-image: linear-gradient(rgb(226, 10, 10), tomato);
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.button a:hover{
    color: rgb(1, 5, 1);
}

header{
    background: rgba(13, 144, 184, 0.3);
    margin-top:0px;
    height: 80px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 50px;
}
li,a{
color: rgb(14, 0, 0);
text-decoration: none;
font-size: 16px;
font-weight: 500;
}

.navs-links{
    list-style: none;
}
.navs-links li{
    display: inline-block;
    padding: 0px 20px;
}

.navs-links li a:hover{
    color: teal;
}

.dream-big{
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p{
    padding-right: 140px;
}
.exprience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.exprience-era{
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-ex1{
    border-bottom: 10px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 4;
}
#web-ex2{
    border-bottom: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 4;
}
#web-ex3{
    border-bottom: 10px solid;
    border-image: linear-gradient(rgb(235, 9, 84),rgb(13, 165, 127));
    border-image-slice: 4;
}
#about{
    margin: 10px 0;
    background-color: rgba(199, 191, 191, 0.096);
    height: 650px;
    border-radius: 10px;
}

#projects{
    margin: 10px 0;
    background-color: rgba(199, 191, 191, 0.096);
    height: 650px;
    border-radius: 10px;
}
#skills{
    margin: 10px 0;
    background-color: rgba(199, 191, 191, 0.096);
    height: 650px;
    border-radius: 10px;
}
#contact{
    margin: 10px 0;
    background-color: rgba(199, 191, 191, 0.096);
    height: 650px;
    border-radius: 10px;
}
.skillps{
    height: 300px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 25px;
    display: inline-block;
    width: 15%;
    border:2px mintcream solid;
    box-shadow: rgb(100, 100, 100);
    border-radius: 5px;
    background-color: rgb(12, 32, 48);
    
}

.skillsP{
    display: flex;
}
.headstyle{
    text-align: center;
    margin-top: 20px;
    background-color: rgba(45, 145, 192, 0.5);

    
}
.hrsp{   
     margin-top: 50%;
    width:180px;
    padding: 5;
    margin-left: 10px;
    height: 5px;
    border-radius: 5px;
    background-color:white;

}
.hrsc {
    margin-top: 30px;
    width: 126px;
    margin-left:0;
    height: 3px;
    border-radius: 5px;
    background-color:green;

}

.hrscs {
    margin-top: 30px;
    width: 54px;
    margin-left:0;
    height: 3px;
    border-radius: 5px;
    background-color:red;

}
.hrscss {
    margin-top: 30px;
    width: 108px;
    margin-left:0;
    height: 3px;
    border-radius: 5px;
    background-color:green;

}
.hrshtml {
    margin-top: 30px;
    width: 117px;
    margin-left:0;
    height: 3px;
    border-radius: 5px;
    background-color:green;

}
.hrsjs {
    margin-top: 30px;
    width: 54px;
    margin-left:0;
    height: 3px;
    border-radius: 5px;
    background-color:red;

}
.logoimage img{
    margin-top: 20px;
    margin-left: 25%;
    height: 100px;
    width: 100px;
}
.liveChat{
    border-radius: 25px;
    background-color: rgba(41, 23, 206, 0.774);
    margin-left: 400px;
    margin-top: 150px;
    width: 500px;
    padding: 20px;
    height: 100px;
}
.emailMe{
    border-radius: 20px;
    background-color: rgba(204, 105, 105, 0.747);
    margin-left: 400px;
    margin-top: 20px;
    width: 500px;
    height: 100px;
    padding: 20px;
 
}
.main{
    display: inline-block;
}
.btn{
    margin-left: 210px;
}

footer p{
    text-align: center;

}
